.class {
  width: 300px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);

  &:nth-child(odd) {
    background-color: #3367d5;
  }

  &:nth-child(even) {
    background-color: #d91a60;
  }

  &:nth-child(3n):nth-child(odd) {
    background-color: #00a96f;
  }

  &:nth-child(4n) {
    background-color: #c12e07;
  }

  a {
    color: white;
  }

  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 0.9em;
    margin: 0;

    &:nth-of-type(1) {
      margin-top: 8px;
    }
  }
}
