.announcement-detail {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
    padding-bottom: 20px;
  }

  & + .announcement-detail {
    margin-top: 20px;
  }

  .announcement-date {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.55);
    line-height: 14px;
    margin-bottom: 12px;
  }

  .announcement-content {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
