.submissions {
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.4rem;
  max-height: calc(100vh - 200px);
  overflow-y: auto;

  &-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .submission {
    &:not(:first-of-type) {
      margin-top: 10px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    &-date {
      color: rgba(0, 0, 0, 0.55);
      line-height: 12px;
      margin-bottom: 6px;
    }

    &-content {
      font-weight: 400;
    }
  }
}
