@import '../../styles/mixins/';

.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.01), 0 16px 16px rgba(0, 0, 0, 0.01);

  .navbar {
    &-brand {
      color: #3d3d3d;
      font-weight: 600;
      font-size: 2.2rem;

      &:hover {
        text-decoration: none;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        display: flex;
        align-items: center;
        .nav-item {
          .nav-link {
            font-weight: 600;
            svg {
              width: 16px;
              height: 16px;
              margin-right: 0.2rem;
            }
          }
          .authentication-button {
            font-weight: 600;
            color: rgba($color: #000000, $alpha: 0.45);
          }
        }
      }
    }
  }
}
