@import '../../styles/mixins/';

.course-container {
  padding-top: 4rem;
  padding-bottom: 6rem;
  .col-sm-4,
  .col-sm-8 {
    @media screen and (max-width: 572px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .sidebar {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    font-size: 1.8rem;
    position: sticky;
    top: 16px;
    margin-bottom: 2rem;
    max-height: calc(100vh - 120px);
    overflow-y: auto;

    &-term,
    &-teacher,
    &-code {
      font-size: 1.4rem;
      color: rgba(0, 0, 0, 0.55);
    }

    &-teacher {
      margin-bottom: 5px;
    }

    &-code {
      span {
        border-radius: 3px;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #dddddd;
      }
    }

    &__edit-course {
      display: flex;
    }

    .students {
      margin-top: 1rem;

      .student {
        margin-top: 10px;
        font-size: 1.4rem;
        padding-left: 2px;

        &:nth-of-type(1) {
          margin-top: 15px;
        }

        &-email {
          line-height: 12px;
          font-size: 1.3rem;
          color: rgba(0, 0, 0, 0.55);
        }
      }
    }
  }

  & &__content {
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    @include respond-above(sm) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .react-tabs {
      &__tab-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond-above(sm) {
          flex-direction: row;
        }
        border-bottom: 0.0625rem solid #e0e0e0;
      }

      &__tab {
        padding: 1rem 2.8rem;
        cursor: pointer;
        font-size: 1.65rem;
        font-weight: 500;

        &:hover {
          background-color: rgb(243, 242, 242);
        }

        &--selected {
          position: relative;
          color: #1967d2;

          &:after {
            border-color: #1967d2;
            border-top-width: 0.35rem;
            border-top-style: solid;
            -webkit-border-radius: 0.25rem 0.25rem 0 0;
            border-radius: 0.25rem 0.25rem 0 0;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.0625rem;
            animation: myanim 0.3s ease-in-out;

            @keyframes myanim {
              from {
                transform: scaleX(0.2);
              }
            }
          }

          &:hover {
            background-color: rgb(236, 242, 248);
          }
        }

        &-panel {
          font-size: 1.5rem;
          margin-top: 20px;

          &__course-announcement {
          }

          &__course-assignment {
            padding-bottom: 20px;
          }
        }
      }
    }

    &__create-announcement {
      display: block;
    }
  }
}
